{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Все книги</h1>
        <ul>
            {% for book in books %}
            <li>
                <h2>{{ book.title }}</h2>
                <p>{{ book.author }}</p>
                <p>{{ book.description|safe }}</p>
                <p>Дата создание: {{ book.publish_date }} </p>
                {% if book.image %}
                    <img src="{{ book.image.url }}" >
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <a href="{% url 'logout' %}">Выйти</a>
    </div>
</body>
</html>